<div class="container tLigth">
  <section class="pagamento">
    <form action="#">
      <h1 class="title">Dados de Pagamento</h1>

      <fieldset class="dadosCard">
        <div class="imgCard">
          <img class="back-card" src="../../../assets/img/bg-card-back.png" alt="Verso Cartão">
          <div id="cvc">123</div>
          <img class="front-card" src="../../../assets/img/bg-card-front.png" alt="Frente Cartão">

          <div class="info-card">
            <div class="img-1"><img id="img-1" src="../../../assets/img/card-logo.svg"></div>
            <div class="number input-box">0000 0000 0000 0000</div>
            <div class="name-val">
              <div class="name input-box">Jennyfer Lamego</div>
              <div class="val input-box">09/28</div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="dadosPag">
        <p class="inputCard-box">
          <label for="card">Bandeira do Cartão   </label>
          <select name="usercard" id="card">
            <option value="visa">Visa</option>
            <option value="mc">MasterCard</option>
            <option value="amex">American Express</option>
          </select>
        <p>
          <label for="fCard">Função do Cartão   </label>
          <select name="usercard" id="fCard">
            <option value="debito">Débito</option>
            <option value="credito">Crédito</option>

          </select>
        </p>
        <p>
          <label for="number">Número do Cartão</label>
          <input type="number" id="number" name="cardnumber">
        </p>
        <p>
          <label for="date">Data de Expiração</label>
          <em>formatted as mm/yyyy</em>
          <input type="date" id="date" name="expiration">
        </p>
      </fieldset>

      <p class="submit">
        <button type="submit"><a href="#">Confirma</a></button>
      </p>
    </form>
  </section>
</div>

