<div class="container tLigth">
  <section class="pagamento">
    <form action="#">


      <fieldset class="dadosCard">
        <div class="imgCard">
          <img class="back-card" src="../../../assets/img/bg-card-back.png" alt="Verso Cartão">
          <div id="cvc">123</div>
          <img class="front-card" src="../../../assets/img/bg-card-front.png" alt="Frente Cartão">

          <div class="info-card">
            <div class="img-1"><img id="img-1" src="../../../assets/img/card-logo.svg"></div>
            <div class="number input-box">0000 0000 0000 0000</div>
            <div class="name-val">
              <div class="name input-box">Jennyfer Lamego</div>
              <div class="val input-box">09/28</div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="dadosPag">
        <h1 class="title">Dados de Pagamento</h1>
        <p class="inputCard-box">
          <label for="name">Nome completo</label>
          <input type="text" id="name" name="name" placeholder="Nome e Sobrenome" required>
        </p>
        <p class="inputCard-box">
          <label for="card">Bandeira do Cartão   </label>
          <select name="usercard" id="card" required>
            <option value="visa">Visa</option>
            <option value="mc">MasterCard</option>
            <option value="amex">American Express</option>
          </select>
        </p>
        <p class="inputCard-box">
          <label for="fCard">Função do Cartão   </label>
          <select name="usercard" id="fCard" required>
            <option value="debito">Débito</option>
            <option value="credito">Crédito</option>
          </select>
        </p>
        <p class="inputCard-box">
          <label for="number">Número do Cartão</label>
          <input type="number" id="number" name="cardnumber" placeholder="0000 0000 0000 0000" required>
        </p>
        <p class="inputCard-box">
          <label for="CVC">CVC</label>
          <input type="number" id="CVC" name="cardnumber" placeholder="123" required>
        </p>
        <p class="inputCard-box">
          <label for="date">Data de Expiração</label>
          <!-- <em></em> -->
          <input type="date" id="date" name="expiration" required>
        </p>

        <p class="submit">
          <button type="submit"><a href="#">Confirma</a></button>
        </p>
      </fieldset>


    </form>
  </section>
</div>

