*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  --body-bg-color: hsl(0, 6%, 90%);
  --body-bgForm-color: rgb(250, 250, 250);
  --input-api-color: hsl(0, 0%, 89%);
  --body-moderate-color: hsl(176, 50%, 47%);
  --body-dark-color: hsl(176, 72%, 28%);
  --bg-gradient-color: linear-gradient(45deg, hsl(176, 50%, 47%), hsl(176, 72%, 28%) );

  --text-primary-color: hsl(0, 0%, 0%);
  --text-second-color: hsl(0, 0%, 48%);
  --text-special-color: white;
}


.container{
  font-family: 'Commissioner', sans-serif;
  width: 100%;
  height: calc(930px + 272px + 2rem);
  background-color: var(--body-bg-color) ;


}

.imgCard{
  background: rgb(2,0,36);
  background: linear-gradient(228deg, rgba(2,0,36,1) 0%, rgba(60,180,172,1) 55%, rgba(20,123,116,1) 100%);
  position:relative;
  height: 315px;
}

.mural{

  position: absolute;
  position: 50%;
  left: 0;
  right: 0;
  top: 45%;
}

.dados-cadastrados{
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  margin-bottom: 2rem;
  margin: 0 1.5rem;
  border-radius: 8px;
  background-color: var(--body-bgForm-color);
  box-shadow: 2px 2px 5px #0003;
  color: var(--text-primary-color);
  line-height:2;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  margin-top: 17rem;
}

h1{
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.orientacao{
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1rem;
}

.title{
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
}

.dadosPessoais, .dadosPagamento{
  padding-bottom: 2rem;
  border-top: 1px solid var(--text-second-color);
  font-size: 1rem;
}


.acoes{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.confirmar{
  width: 70%;
  margin-bottom: 2rem;
  border:none;
  background-color: var(--body-dark-color);
  padding: 0.62rem;
  border-radius: 8px;
  cursor: pointer;
}

.acoes button:hover{
background-color: var(--body-moderate-color);
}

.acoes button a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-special-color)
}

.edicao{
  display: flex;
  flex-direction: row;
  column-gap: 0.2rem;
  justify-content: flex-end;
  width: 100%;

}

.editar, .excluir{
 background-color: transparent;
 border: none;
 border-radius: 5px;
 box-shadow: 2px 2px 5px #0003;

}

#editar, #excluir{
  width: 45%;
  padding-top: 0.2rem;
}
