<div class=" container tLigth">
  <div class="imgCard">
    <div>
      <h1 class="mural">Painel de Cadastro</h1>
    </div>
  </div>

  <fieldset class="dados-cadastrados">
    <h1>Confirmação de Dados</h1>
    <p class="orientacao">Verifique se estão todos os dados estão corretos, para poder concluir o seu cadastro.</p>
    <div class="dadosPessoais">
      <h2 class="title">Dados Pessoais</h2>
      <p class="nome"><b>Nome:</b> {{ cadastro.nome }}</p>
      <p class="email"><b>E-mail:</b> {{ cadastro.email }}</p>
      <p class="tel"><b>Tel:</b> {{ cadastro.tel }}</p>
      <p class="cep"><b>Cep: {{cadastro.cep}}</b></p>
      <p class="endereço"><b>Endereço:</b>   {{ cadastro.endereco }} n: {{cadastro.numero}}, {{cadastro.complemento}}, Bairro: {{ cadastro.bairro }} , Cidade, UF</p>
    </div>

     <div class="dadosPagamento">
      <h2 class="title">Dados de Pagamento</h2>
      <p class="nomeCard"><b>Nome no Cartão:</b> {{ dadosCartao.nomeCard }}</p>
      <p class="bandeira"><b>Bandeira:</b> {{dadosCartao.bandeira}} </p>
      <p class="funcao"><b>Função do Cartão:</b> {{ dadosCartao.funcao }}</p>
      <p class="cvc"><b>CVC:</b> {{ dadosCartao.cvc }}</p>
      <p class="validade"><b>Validade: </b> {{dadosCartao.validade}} </p>
    </div>

    <div class="acoes">
      <button class="confirmar"><a href="">Confirmar</a></button>

      <div class="edicao">
        <button class="editar" routerLink="/form">
          <img id ="editar" src="../../../assets/img/edit_button.svg">
        </button>
        <!-- <button type="reset" class="excluir" routerLink="/excluirCadastro/{{cadastro.id}}">
          <img id = "excluir" src="../../../assets/img/delete_button.svg">
        </button> -->
      </div>

    </div>
  </fieldset>

</div>
