<div class="container tLigth">
  <section class="bg">
    <div class="nav">
      <h1 class="logo">Office Stuff</h1>

      <div class="toggle-mode">
        <span >Tema</span>
        <input type="checkbox" class="btn-toggle">
      </div>

    </div>
  </section>
  <div class="formulario">
    <section class="dados">


      <form #f="ngForm" method="get">
        <h1 class="title">Dados Cadastrais</h1>
        <p id="instruction">Para que possamos concluir a sua compra, é necessário que preencha os dados cadastrais abaixo:</p>

        <fieldset class=" input-group dadosPessoais">
          <legend class="pessoais">Dados Pessoais</legend>
          <p class="input-box">
            <label for="name">Nome completo</label>
            <input type="text" id="name" name="name" placeholder="Nome e Sobrenome" required [(ngModel)]="cadastro.nome">
          </p>

          <p class="input-box">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required [(ngModel)]="cadastro.email">
          </p>

          <p class="input-box">
            <label for="tel">Celular</label>
            <input type="number" id="tel" name="number" placeholder="(xx) xxxx-xxxx" required [(ngModel)]="cadastro.tel" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength = "11">
          </p>
        </fieldset>

        <fieldset class="input-group adress">
          <p class="input-box">
            <label for="cep">CEP</label>
            <input type="text" id="cep" name="cep"  (blur)="blur($event)" ngModel [(ngModel)]="cep" placeholder="Ex: 12345567" required f>
          </p>
          <p class="input-box">
            <label for="adress">Endereço</label>
            <input type="text" id="adress" name="adress" ngModel [(ngModel)]="logradouro" [(ngModel)]="cadastro.endereco" required >
          </p>
          <p class="input-box">
            <label for="number">Número da residência</label>
            <input type="number" id="number" name="number" placeholder="número ou s/n" required [(ngModel)] = "cadastro.numero">
          </p>
          <p class="input-box">
            <label for="complemento">Complemento (opcional)</label>
            <input type="text" id="complemento" name="complemento" placeholder="Apto, sala, conjunto, etc." [(ngModel)]="cadastro.complemento">
          </p>
          <p class="input-box API">
            <label for="district">Bairro</label>
            <input type="text" id="district" name="district" ngModel [(ngModel)]="this.bairro" placeholder="Insira o CEP acima para preencher o bairro" required disabled>
          </p>
          <p class="input-box API">
            <label for="city">Cidade</label>
            <input type="text" id="city" name="city" ngModel [(ngModel)]="localidade" placeholder="Insira o CEP acima para preencher a cidade" required disabled>
          </p>
          <p class="input-box API">
            <label for="state">Estado</label>
            <input type="text" id="state" name="state" ngModel [(ngModel)]="uf" placeholder="Insira o CEP acima para preencher o estado" required disabled>
          </p>
        </fieldset>
        <!-- <p class="submit">
          <button  type="submit" (click)="cadastroDados()"><a>Confirma</a></button>
        </p> -->
        <div class="acoes">
          <button class="confirmar" type="submit" (click)="cadastroDados()"><a>Confirmar</a></button>

          <div class="edicao">
            <!-- <button class="editar" routerLink="/form">
              <img id ="editar" src="../../../assets/img/edit_button.svg">
            </button> -->
            <button  type="reset" class="excluir" routerLink="/excluirCadastro/{{cadastro.id}}">
              <img id = "excluir" src="../../../assets/img/delete_button.svg">
            </button>
          </div>

        </div>
      </form>
    </section>
  </div>

</div>
